/* @import url(./reset.css); */

a {
  text-decoration: none;
  color: black;
}

.holder {
  width: 100%;
  max-width: 1400px;
}

section>article>h2 {
  font-size: 25px;
  font-weight: bold;
}

.con1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  display: flex;
  gap: 10px;

}

.acon {
  display: block;
  line-height: 37px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 14px;
}

.a1 {
  background-color: #009A3E;
  color: white;
}

.a2 {
  background-color: #F2F2F2;
}
.right{
  font-size: 15px;
}
ul{
  display: flex;
}
.ranking-box{
  position: relative;
  border-radius: 15px;
  display: flex;
}
.number{
  position: absolute;
  z-index: 999;

}

.r-img{
  width: 70px;
  height: 70px;
  object-fit:fill;
}
.r-img>img{
}